{# 
  Used for the Main Menu menu navigation links.
#}

{# Use the heading_id as the aria-labelledby #}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}

{# Set nav classes #}
{% set nav_attribute = create_attribute() %}

{# Set nav classes array #}
{%
  set nav_classes = [
    'navigation-content',
    'container',
    'burger',
    'line',
  ]
%}

{# Remove classes from array #}
{% set remove_classes = ['burger', 'line'] %}

<nav
  {# Use nav classes array #}
  {{ nav_attribute.addClass(nav_classes).removeClass(remove_classes) }}
  {# Role #}
  role="navigation"
  {# Set aria-labelledby #}
  aria-labelledby="{{ heading_id }}"
>

  {# Remove classes from array #}
  {% set remove_classes = ['navigation-content', 'container'] %}
  {% set burger_id = 'burgerMenu' %}

  {# Add burger class and burgerMenu id #}
  <div{{ nav_attribute.addClass(nav_classes).removeClass(remove_classes).setAttribute('id', burger_id) }}>

    {# Add classes to array #}
    {% set add_classes = ['line'] %}
    {# Remove classes from array #}
    {% set remove_classes = ['burger'] %}

    <div{{ nav_attribute.addClass(add_classes).removeClass(remove_classes).removeAttribute('id', burger_id) }}></div>
    <div{{ nav_attribute.addClass(add_classes).removeClass(remove_classes).removeAttribute('id', burger_id) }}></div>

  </div>

  {# Primary navigation logo #}
  <a href="/"><img src="{{ directory ~ '/vice_logo.png' }}" /></a>
  
  {# Primary navigation menu items #}
  {% block content %}
    {{ content }}
  {% endblock %}

</nav>